*{
  margin: 0px;
  padding: 0px;
}
body{
  position: relative;
  background-image: url('../images/background.jpg');
  z-index: 1;
}
#blockForm{
  margin: 1em;
  margin-top: 2em;
  padding: .5em;
  border-radius: 10px;
  background: rgba(255,255,255, 0.75);
  border: 4px solid white;
}
#journalTitle{
  position: relative;
  text-align: center;
}
#normalInput{
  display: flex;
  flex-direction: column;
}
#journalForm > fieldset { 
  background-color: white;
}
.inputBox {
  margin: 1vw;
  width: 114px;
}
.selectBox {
  margin: 1vw;
  width: 114px;
}
.labelName {
  font-size: 1.2em;
  font-weight: bolder;
  margin-left: 1vw;
}
#conceptsCovered{
  width: 96%;
}
#journalEntryText{
  width: 96%;
}
#recordEntry{
  position: relative;
  width: 60%;
  margin-left: 20%;
  font-size: 4vw;
  color: white;
  background-color: rgb(226, 66, 66);
  border: 2px solid white;
  border-radius: 15px;
  margin-top: 1%;
}
#recordEntry:hover{
  background-color: red;
  border: 2px solid black;
}
.journalEntryPrint{
  background-color: lightgrey;
  font-size: 20px;
  width: 80vw;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 2px solid white;
  padding: 4px;
}
.journalEntryPrint > p{
  font-weight: bolder;
  overflow-wrap: break-word;
  font-weight: bolder;
  overflow-wrap: break-word;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.entireRadio{
  text-align: center;
  padding: 1vw;
  padding-top: 0vw;
  margin-top: 1vw;
}
.radioName{
  margin: auto;
  font-size: 13px;
  font-weight: bold;
}
.radioBox{
  margin: auto;
}
.buttonBoxName{
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: -1px;
  font-size: 4vw;
  display: block;
}
.indivBox {
  width: 76px;
  display: inline-grid;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
#filterJournal {
  font-size: 2vw;
  background-color: rgb(226, 66, 66);
  vertical-align: middle;
  color: white;
  padding: 1vw;
  margin-top: 2.5vw;
  border: 2px solid white;
  border-radius: 13px;
}
#filterJournal:hover{
  background-color: red;
  border: 2px solid black;
}